.button{
  color: white;
  background-color: rgb(61, 85, 242);
}

.header{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
  background-image: url('/img/glitter.jpg'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

.headerImg{
 border-radius: 0.3rem; 
 width: 300px; 
 padding: 1rem;
 background-color: rgb(208, 240, 243);
 border:3px solid white;
}
.messages{
  background-color:white;
  margin-top: 7rem;
  box-shadow: 2px 3px 9px rgb(219, 219, 219);
  border-radius: 0.3rem;
  padding: 3rem;
  text-align: left;
  font-size: 1.3rem; 
}
.messagesChat{
  background-color:rgb(230, 242, 250);
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 0.4rem;
  width: fit-content;
  font-size: 1.3rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
}
.invites{
  background-color:white;
  margin-top: 7rem;
  padding: 1.8rem;
  box-shadow: 2px 3px 9px rgb(219, 219, 219);
  border-radius: 0.4rem;
}