body{
  justify-content: center; /* Centrerar horisontellt */
  align-items: center; /* Centrerar vertikalt */
  min-height: 100vh; /* För att fylla hela sidans höjd */
  width: 100%;
}
.cont{
  
  background-color: aqua;
  margin-top: 2rem;
  padding: 2rem;
  
}