
.FriendContainer{
  background-color:white;
  box-shadow: 2px 3px 9px rgb(219, 219, 219);
  padding: 2rem;
  text-align: center;
  min-width: fit-content;
  
  border-radius: 0.3rem;
  font-size: 1.5rem;
  
}
.friendChatSend{
  margin-top: 7rem;
}
.customListGroupItem{
  margin-bottom: 1rem;
  margin: 1rem;
 
}
