/* Login.module.css */

.login-h1{
  color: blue;
  font-weight: bolder;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.login-text{
  margin-right: 5rem;
  position: relative;
  top: -4rem;
  text-align: center;
  margin: 3rem;
  padding: 2rem;
  color: black;
 
}
.login-border{
  padding: 5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 3px 9px rgb(219, 219, 219);
  background-color: white;
  margin-right: 5rem;
  font-size: 1.2rem;
}
.login-form {
  white-space: nowrap;
  font-size: 1.5rem;
  padding: 2rem;
  display: flex;
  text-align: left;
  margin-top: 5rem;
  justify-content: center; 
}

.login-link{
  font-size: 1.3rem;
  text-align: center;
  position: relative;
  top: 1rem;
}





