#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 100vh;
}




